<h1>Jawaban 1</h1>

In [3]:
# Jawaban Nomor 1

nama = input("Masukan nama lengkap:")
tempat = input("Masukan tempat lahir")
tglLahir = input("Masukan tanggal lahir")
pekerjaan = input("Masukan pekerjaan:")
alamat = input("Masukan alamat:")
jnsKelamin = input("Masukan jenis kelamin:")
email = input("Masukan alamat email:")

print("\n========== Biodata Sederhana ==========\n")
print("Nama Lengkap             : {}".format(nama))
print("Tempat dan Tanggal Lahir : {}, {}".format(tempat,tglLahir))
print("Alamat                   : {}".format(alamat))
print("Jenis Kelamin            : {}".format(jnsKelamin))
print("Alamat Email             : {}".format(email))

Masukan nama lengkap: maulana auliya firdaus
Masukan tempat lahir sukabumi
Masukan tanggal lahir 11 juni 2024
Masukan pekerjaan: mahasiswa
Masukan alamat: surade tengah
Masukan jenis kelamin: laki laki
Masukan alamat email: maulanaauliyafirdaus11@gmail.com

========== Biodata Sederhana ==========

Nama Lengkap             : maulana auliya firdaus
Tempat dan Tanggal Lahir : sukabumi, 11 juni 2024
Alamat                   : surade tengah
Jenis Kelamin            : laki laki
Alamat Email             : maulanaauliyafirdaus11@gmail.com

<h1>Jawaban 2</h1>

In [5]:
# Jawaban Nomor 2

kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"

a = kalimat.split()
print(f"a. {a[2]} {a[1]}".lower())

b = kalimat.replace("U","")
print(f"b. {b}")

dibalik = a[::-1]
c = " ".join(dibalik)
print(f"c. {c}")

d = ""
for kata in a:
    d += kata[0]
print(f"d. {d}")

print(f"e. {a[0][-3:]} {a[1][-2:]}{a[2][0:2]} {a[3][-4:]}")

a. putra nusa
b. NIVERSITAS NSA PTRA SKABMI
c. SUKABUMI PUTRA NUSA UNIVERSITAS
d. UNPS
e. TAS SAPU BUMI