In [4]:
name = "maulana auliya firdaus"
age = 21
address,province = "Jl. Cibolang","7413412"
scorePython = 80.5
isMarried = False

print("Nama: ",name)
print("Umur: ",age)
print("Alamat: ",address)
print("Nilai Pemrograman: ",scorePython)
print("Status Menikah: ",isMarried)

Nama:  maulana auliya firdaus
Umur:  21
Alamat:  Jl. Cibolang
Nilai Pemrograman:  80.5
Status Menikah:  False

In [6]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [8]:
# Casting atau Konversi Tipe Data
# konversi dari String ke (int,float,bool)

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")

# konversi dari int
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool,sep="-")

# konversi dari float
floatToStr = str(age)
floatToInt = float(age)
floatToBool = bool(age)
print(intToStr,intToFloat,intToBool,sep="-")

# konversi dari bool
boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print(boolToStr,boolToInt,boolToFloat,sep="-")

7413412-7413412.0-True
21-21.0-True
21-21.0-True
False-0-0.0

In [10]:
city = "Bandung"
lenCity = len(city)
print(city[0])
print(city[lenCity-1])

B
g

In [12]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai Desimal: ",desimal)
print("Nilai Desimal dari 0xff: ",hexa)
print("Nilai Desimal dari 0b1010: ",biner)
print("Nilai Desimal dari 0o377: ",octal)

print("=======================")
print("Nilai biner dari:",desimal, bin(desimal))
print("Nilai octal dari:",desimal, oct(desimal))
print("Nilai hexa dari:",desimal, hex(desimal))

Nilai Desimal:  200
Nilai Desimal dari 0xff:  255
Nilai Desimal dari 0b1010:  10
Nilai Desimal dari 0o377:  255
=======================
Nilai biner dari: 200 0b11001000
Nilai octal dari: 200 0o310
Nilai hexa dari: 200 0xc8

In [14]:
# Tipe data collection

# List
cities = ["Sukabumi","bandung","Bogor","Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Medan"
print(cities)
print(cities[len(cities)-1][0])

# Tuple
names = ("Andi","Budi","Caca")
# names[0] = "Budi" --> akan menyebabkan error, karena tuple adalah immutable

# Dictionary
studentData = {
    "name" : "Dedi",
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "west java"
    },
    "age" : 23,
    "isMarried" : True
}

# List of dictionary
listStudent = [
        {
        "name" : "Dedi",
        "address" : {
            "street" : "Cisaat",
            "number" : 21,
            "province" : "west java"
        },
        "hobbies" : ["Basket","Football"],
        "age" : 23,
        "isMarried" : True
    },
        {
        "name" : "Upin",
        "address" : {
            "street" : "Kp.Durian Runtuh",
            "number" : 21,
            "province" : "Kuala lumpur"
        },
        "age" : 23,
        "isMarried" : False
    }
]

print(studentData)
print(studentData["address"]["province"])
print(listStudent[0])
print(listStudent[0]["hobbies"][1])
print(listStudent[0]["age"]) # 23 - umur Dedi

['Sukabumi', 'bandung', 'Bogor', 'Jakarta']
Sukabumi
Jakarta
['Sukabumi', 'Medan', 'Bogor', 'Jakarta']
J
{'name': 'Dedi', 'address': {'street': 'Cisaat', 'number': 21, 'province': 'west java'}, 'age': 23, 'isMarried': True}
west java
{'name': 'Dedi', 'address': {'street': 'Cisaat', 'number': 21, 'province': 'west java'}, 'hobbies': ['Basket', 'Football'], 'age': 23, 'isMarried': True}
Football
23

In [16]:
# Casting Dictionary

list_tuple = [("name","Dika"),("nilai",80)]
dictStudent = dict(list_tuple)
print(dictStudent)

list_list = [["Buah","Apel"],["Harga","10000"]]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = (("name","Upin"),("nilai",10))
dictName = dict(tuple_tuple)
print(dictName)

tuple_list = (["SKPI","Sertifikat"],["Harga","500000"])
dictSkpi = dict(tuple_list)
print(dictSkpi)

keys = ["name","age","address"]
values = ["Adi",20,"Bandung"]

dictData = dict(zip(keys,values))
print(dictData)

{'name': 'Dika', 'nilai': 80}
{'Buah': 'Apel', 'Harga': '10000'}
{'name': 'Upin', 'nilai': 10}
{'SKPI': 'Sertifikat', 'Harga': '500000'}
{'name': 'Adi', 'age': 20, 'address': 'Bandung'}