<h1>OPERATOR ARITMATIKA</h1>

In [9]:
x = int(input("isikan nilai x :"))
y = int(input("isikan nilai y :"))

hasilTambah = x + y
hasilKurang = x - y
hasilKali = x * y
hasilBagi = x / y
hasilModulus = x % y
hasilPangkat = x ** y
hasilBagiBulat = y // y

print("penjumlahan ", x, "+", y, "=", hasilTambah)
print("pengurangan ", x, "-", y, "=", hasilKurang)
print("perkalian ", x, "*", y, "=", hasilKali)
print("pembagian ", x, "/", y, "=", hasilBagi)
print("modulus ", x, "%", y, "=", hasilModulus)
print("pangkat ", x, "^", y, "=", hasilPangkat)
print("bagi bulat ", x, "//", y, "=", hasilBagiBulat)

isikan nilai x : 5
isikan nilai y : 6

penjumlahan  5 + 6 = 11
pengurangan  5 - 6 = -1
perkalian  5 * 6 = 30
pembagian  5 / 6 = 0.8333333333333334
modulus  5 % 6 = 5
pangkat  5 ^ 6 = 15625
bagi bulat  5 // 6 = 1

<h1>OPERATOR PENUGASAN(ASSIGNMENT)</h1>

In [14]:
nilai = int(input("isikan nilai :"))
print("nilai awal dari<nilai> :", nilai)
nilai +=3
print("setelah ditambah 3:",nilai)
nilai-=5
print("setelah dikurangi 5:",nilai)
nilai*=10
print("setelah dikali 10:",nilai)
nilai/=2
print("setelah dibagi 2:",nilai)

isikan nilai : 10

nilai awal dari<nilai> : 10
setelah ditambah 3: 13
setelah dikurangi 5: 8
setelah dikali 10: 80
setelah dibagi 2: 40.0

<h1>OPERATOR PERBANDINGAN</h1>

In [22]:
val1 = int(input("isikan nilai 1:"))
val2 = int(input("isikan nilai 2:"))

print("Apakah ",val1,"=",val2,"?:",val1==val2)
print("Apakah ",val1,"!=",val2,"?:",val1!=val2)
print("Apakah ",val1,">",val2,"?:",val1>val2)
print("Apakah ",val1,">=",val2,"?:",val1>=val2)
print("Apakah ",val1,"<",val2,"?:",val1<val2)
print("Apakah ",val1,"<=",val2,"?:",val1<=val2)

isikan nilai 1: 5
isikan nilai 2: 6

Apakah  5 = 6 ?: False
Apakah  5 != 6 ?: True
Apakah  5 > 6 ?: False
Apakah  5 >= 6 ?: False
Apakah  5 < 6 ?: True
Apakah  5 <= 6 ?: True

<h1>OPERATOR LOGIKA</h1>

In [28]:
a = int(input("isikan nilai a:"))
b = int(input("isikan nilai b:"))
c = int(input("isikan nilai c:"))
d = int(input("isikan nilai d:"))
print("nilai a:", a)
print("nilai b:", b)
print("nilai c:", c)
print("nilai d:", d)

print("apakah a > b dan c < d", a>b and c<d) #logika and
print("apakah a > b atau c < d", a>b or c<d) #logika or
print("apakah !a > b dan c < d", not(a>b and c<d)) #logika not and

isikan nilai a: 2
isikan nilai b: 3
isikan nilai c: 4
isikan nilai d: 5

nilai a: 2
nilai b: 3
nilai c: 4
nilai d: 5
apakah a > b dan c < d False

<h1>OPERATOR IDENTITAS</h1>

In [38]:
num1 = "10"
num2 = 10
num3 = num2

print("Memori address dari num 1", id(num1))
print("Memori address dari num 2", id(num2))
print("Memori address dari num 3", id(num3))

print("apakah num1 adalah num2", num1 is num2)
print("apakah num2 adalah num3", num2 is num3)
print("apakah num2 bukan num3", num2 is not num3)

Memori address dari num 1 2456521255664
Memori address dari num 2 140716555447000
Memori address dari num 3 140716555447000
apakah num1 adalah num2 False
apakah num2 adalah num3 True
apakah num2 bukan num3 False

<h1>OPERATOR KEANGGOTAAN</h1>

In [42]:
nama = input("isikan nama yang dicari:")
listNama = ["andi","budi","Caca","budi","erfan"]
print(nama in listNama)
print(nama in listNama[0])
print(nama not in listNama)
print(nama not in listNama[0])

isikan nama yang dicari: caca

False
False
True
True

<h1>OPERATOR BITWISE</h1>

In [55]:
bil1 = int(input("isikan bilangan 1:"))
bil2 = int(input("isikan bilangan 2:"))

print("Biner dari", bil1,":",bin(bil1))
print("Biner dari", bil2,":",bin(bil2))

#bitwise &
bitwiseAnd = bil1 & bil2
print(bin(bil1))
print(bin(bil2))
print("------------&")
print(bin(bitwiseAnd))
print("hasil desimalnya adalah: ", bitwiseAnd)

#bitwise |
bitwiseOr = bil1 | bil2
print(bin(bil1))
print(bin(bil2))
print("-----------/")
print(bin(bitwiseOr))
print("hasil desimalnya adalah: ", bitwiseOr) 

#bitwise ^
bitwiseXor = bil1 ^ bil2
print(bin(bil1))
print(bin(bil2))
print("------------^")
print(bin(bitwiseXor))
print("hasil desimalnya adalah: ", bitwiseXor)

#bitwise <<
bitwiseLeft = bil1 << bil2
print(bin(bil1))
print(bin(bil2))
print("------------<<")
print(bin(bil1),"digeser ke kiri sebanyak ",bil2,"bit")
print("hasilnya adalah",bin(bitwiseLeft))
print("hasil desimalnya adalah: ", bitwiseLeft)

#bitwise >>
bitwiseRight = bil1 >> bil2
print(bin(bil1))
print(bin(bil2))
print("----------->>")
print(bin(bil1),"digeser ke kanan sebanyak ",bil2,"bit")
print("hasilnhya adalah",bin(bitwiseRight))
print("hasil desimalnya adalah: ", bitwiseRight)

isikan bilangan 1: 10
isikan bilangan 2: 12

Biner dari 10 : 0b1010
Biner dari 12 : 0b1100
0b1010
0b1100
------------&
0b1000
hasil desimalnya adalah:  8
0b1010
0b1100
-----------/
0b1110
hasil desimalnya adalah:  14
0b1010
0b1100
------------^
0b110
hasil desimalnya adalah:  6
0b1010
0b1100
------------<<
0b1010000000000000
hasil desimalnya adalah:  40960
0b1010
0b1100
----------->>
0b0
hasil desimalnya adalah:  0

<h1>OPERATOR TERNARY</h1>

In [62]:
number = int(input("Insert your number:"))
oddEven = "Bilangan genap" if number % 2==0 else "Bilangan ganjil"
print(oddEven)

Insert your number: 4

Bilangan genap

Seorang ibu berbelanja untuk berbuka puasa, yaitu :
1. pisang goreng - 13.000
2. kolak - 5.000
3. nasi padang - 20.000
4. es buah - 10.000

hitung ibu berbelanja lebih dari 25.000 maka akan mendapatkan discount 5% hitunglah total belanja ibu

In [110]:
pisang = int(input("jumlah pisang :"))
kolak = int(input("jumlah kolak :"))
naspad = int(input("jumlah naspad :"))
esBuah = int(input("jumlah esBuah :"))

pisang *= 13000
kolak *= 5000
naspad *= 20000
esBuah *=10000

total = pisang + kolak + naspad + esBuah
Hdiskon = 5 if total>=25000 else 0

print("total belanja Rp",total)

totalBayar = total - (total *(Hdiskon/100))

diskon = "dapat diskon 5% " if total >=25000 else "tidak dapat diskon"

print(diskon)



print("total belanja ibu adalah Rp",totalBayar)

jumlah pisang : 1
jumlah kolak : 0
jumlah naspad : 0
jumlah esBuah : 0

total belanja Rp 13000
tidak dapat diskon
total belanja ibu adalah Rp 13000.0